
  
.bg-none {
  background-image: none;
}
.bg-orange {
  background-color: #e67b13;
}

.bg-black {
  background-color: #292d33;
}

.bg-black-50 {
background-color: #333333;
}

.text-beige {
  color: #f5c79b;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-comfortaa {
  font-family: comfortaa;
}

.mt-0 {
  margin-top: -15px;
}

.mr-0 {
  margin-right: 6px;
}

.ml-12 {
  margin-left: 3rem;
}

.ml-16{
  margin-left: 4rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mt-5 {
  margin-top: 20px;
}

.mt-8 {
  margin-top: 32px;
}

.mt-12 {
  margin-top: 3rem;
}
.mt-14 {
  margin-top: 3.5rem;
}

.mt-60 {
  margin-top: 15rem;
}

.px-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-2.5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pl-44 {
  padding-left: 11rem;
}

.opacity-20 {
  opacity: 0.2;
}


.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.a {
  position: absolute
}

.w-full {
  width: 100%;
}

.text-left {
  text-align: left
}

.bg-local {
  background-attachment: local;
}